
body{
  background-color:black;
  color:white;
  font-size: 12px;
}
p{font-family:'Determination Mono' ;}
#dialogue{
  display:none;
}
button{
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#dialogue-box{
  background-color: black;
  border : solid ;
  border-width: 3px;
  border-color: white;
  width: 283px;
  height: 70px;
  margin-left: 0px;
  margin-right: 283px;
  margin-top: 0px 
}
#sprite{
  position: relative;
  top: 12px;
  left: 12px;
  width: 125px;
  height:125px;
  background-size: cover;
  display: inline-flex;
}
#text{
  position: absolute;
  left:30px;
  top: 0px;
}
#text2{
  position: absolute;
  left:0px;
  top: 45px;
}
#text3{
  position: absolute;
  left:0px;
  top: 90px;
}
#text-box{
  position: relative;
  top: -120px;
  left: 150px;
  width: 520px;
}
#star{
  position: relative;
  top: -80px;
  left: 18px;
  display: inline;
}









@font-face {
  font-family: 'Undertale Papyrus';
  src: url('fonts/webfonts_papyrus-webfont.eot');
  src: url('fonts/webfonts_papyrus-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/webfonts_papyrus-webfont.woff2') format('woff2'),
       url('fonts/webfonts_papyrus-webfont.woff') format('woff'),
       url('fonts/webfonts_papyrus-webfont.ttf') format('truetype'),
       url('fonts/webfonts_papyrus-webfont.svg#undertale_papyrusregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 8px;
}
@font-face {
  font-family: 'Undertale Sans';
  src: url('fonts/webfonts_sans-webfont.eot');
  src: url('fonts/webfonts_sans-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/webfonts_sans-webfont.woff2') format('woff2'),
       url('fonts/webfonts_sans-webfont.woff') format('woff'),
       url('fonts/webfonts_sans-webfont.ttf') format('truetype'),
       url('fonts/webfonts_sans-webfont.svg#undertale_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}
@font-face {
  font-family: 'Determination Mono';
  src: url('fonts/webfonts_determinationmonoweb-webfont.eot');
  src: url('fonts/webfonts_determinationmonoweb-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/webfonts_determinationmonoweb-webfont.woff2') format('woff2'),
       url('fonts/webfonts_determinationmonoweb-webfont.woff') format('woff'),
       url('fonts/webfonts_determinationmonoweb-webfont.ttf') format('truetype'),
       url('fonts/webfonts_determinationmonoweb-webfont.svg#determination_mono_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}